
const char* ssid = "ssid";
const char* password = "password";
IPAddress ip(192, 168, 1, 11);
IPAddress gateway(192, 168, 1, 1);
IPAddress subnet(255, 255, 255, 0);
IPAddress dns(8, 8, 8, 8);

#define KEY_ "THINGSPEAK_KEY"
